<div class="container">
    <div id="micarousel" class="carousel carousel-dark slide " data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#micarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#micarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#micarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#micarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#micarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active justify-content-center ">
          <img src="../../assets/imagenes/descarga 1.jpeg" class="d-block rounded-0  img-fluid" style="width: 300px; height:200px"
            alt="primera imagen">
        </div>
        <div class="carousel-item justify-content-center">
          <img src="../../assets/imagenes/descarga 2.jpeg" class="d-block rounded-0  img-fluid" style="width: 300px; height:200px"
            alt="segunda imagen">
        </div>
        <div class="carousel-item justify-content-center">
          <img src="../../assets/imagenes/descarga 3.jpeg" class="d-block rounded-0 img-fluid" style="width: 300px; height:200px" alt="tercera imagen">
        </div>
        <div class="carousel-item justify-content-center">
          <img src="../../assets/imagenes/descarga 4.jpeg" class="d-block rounded-0 img-fluid" style="width: 300px; height:200px"
            alt="segunda imagen">
        </div>
        <div class="carousel-item justify-content-center">
          <img src="../../assets/imagenes/descarga 5.jpeg" class="d-block rounded-0  img-fluid" style="width: 300px; height:200px"
            alt="tercera imagen">
        </div>
      </div>
     
    </div>
    </div>
    